# Python
__pycache__/
*.py[cod]
*.egg-info/
venv/
.env
.env.*

# Django
backend/db.sqlite3
backend/media/
*.log

# Node
node_modules/
frontend/dist/
backend/staticfiles/
backend/anonymouswall-web-function-backend.zip

# IDE
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Claude
.claude/
